<html>
  <head>
  </head>
  <title>KeyPop</title>
  <body bgcolor="#2E94D9">
      <div id = "whiteScreen">
        <!-- section title, "Job Complete!" -->
        <h1 id = "jobCompleteTitle">Job Complete!</h1>
        <!-- text for the "Job Complete!" section -->
        <p id = "jobCompleteText" class = "complete">
        Click to visit results:
        <button onclick="resultPage()">Show Tweets</button>

        <br><br>
        <!-- simple footer text -->
        <p id = "footer">Built by Liam Dillingham, Garrett Graham</p>
      </div>
  </body>

  <script>
    function resultPage() {
      location.href="/results/{{hashtag}}/";
    }
  </script>
</html>
