<!DOCTYPE html>

<html>
  <head>

  </head>
  <title>KeyPop</title>
  <body bgcolor="#2E94D9">
      <div id = "whiteScreen">
        <!-- section title, "How It Works" -->
        <h1 id = "howTitle">How It Works</h1>
        <!-- text for the "About" section -->
        <p id = "howText" class = "how">
        Enter a single hashtag into the input field below.  <br>
        The App will crawl Twitter and download all tweets which match the given hashtag. <br>
        Then those publishers will be drawn on the screen, along with their tweet counts <br>
        With the most active publishers at the top <br><br>
        Enter Hashtag: <input type="text" id="hashtagValue">
        <button onclick="direct()">Download Tweets</button></p>

        <br><br>

        <a style="color: black;" href="/dashboard/">Go to the Hashtag Dashboard!</a>

        <div id="outputTitle"></div>
        <div id="output"></div>
        <!-- simple footer text -->
      </div>
  </body>

  <script>
    function direct() {
      var inputField = document.getElementById("hashtagValue").value;
      if(inputField.substring(0,1) == "#"
      && alphanumeric(inputField.substring(1))
      && !inputField.includes(" ")) {
        var directoryString = inputField.substr(1);
        location.href="/search/" + directoryString + "/";
      } else {
        alert("Not a valid hashtag!")
      }
    }

    function alphanumeric(str) {
      if(/[^a-zA-Z0-9]/.test(str)) {
        return false;
      } else {
      return true;
      }
    }
  </script>
</html>
