<!DOCTYPE html>


<html>
  <head></head>
  <body bgcolor="#CCCCCC" onload="query()">
    <div id="outputTitle"></div>
    <div id="output"></div>
  </body>

  <script>
    function query() {
      var dirtyString = JSON.stringify('{{data}}');
      var dict = JSON.parse(JSON.stringify(dirtyString.replace(/&#34;/g, "\"")));
      console.log(dict);
      document.getElementById("outputTitle").innerHTML = ("Publisher  |  Number of Tweets<br>");
      for(key in dict) {
        document.getElementById("output").innerHTML += ("<br>" + key + "   " + dict[key]);
      }
    }
  </script>
</html>
