<!DOCTYPE html>


<html>
  <head></head>
  <body bgcolor="#CCCCCC" onload="query()">
    <div id="outputTitle"></div>
    <div id="output"></div>
  </body>

  <script>
    function query() {
      //var dirtyString = JSON.stringify('{{data}}');
      //var processDblQuotes = dirtyString.replace(/&#34;/g, "\"");
      //var processSingleQuotes = dirtyString.replace(/&#39/g, "\'");
      //var dict = JSON.parse(dirtyString);
      console.log(dict);
      document.getElementById("outputTitle").innerHTML = ("Publisher  |  Number of Tweets<br>");
      for(key in dict) {
        document.getElementById("output").innerHTML += ("<br>" + key + "   " + dict[key]);
      }
    }
  </script>
</html>
