<html>
  <head>
  </head>
  <title>KeyPop</title>
  <body bgcolor="#2E94D9" onload="parseColls()">
    <div id = "whiteScreen">
      <!-- section title, "How It Works" -->
      <h1 id = "howTitle">Hashtag Collections</h1>
      <!-- text for the "About" section -->
      <p id = "howText" class = "how">
      Click on an individual hashtag to view the contents of that collection.<br>
      Check as many boxes as you wish and click the submit button to
      use analytical tools to learn from the data. <br>

      <div id="outputTitle"></div>
      <div id="output"></div>

      <form method="post" action="/analytics/" enctype="multipart/form-data" id="userform">
        <table width="120px" id="dashboard">
        </table>
        <br>
        <input type="text" id="keyword" name="keyword" required>
        <input type="submit" value="Submit selected">

      <!-- simple footer text -->
      <p id = "footer">Built by Liam Dillingham, Garrett Graham</p>
    </div>
    <!-- <h1 style="color: white;">Hashtag Collections</h1>
    click on an individual hashtag to view the contents of that collection.<br>
    check as many boxes as you wish and click the submit button to
    use analytical tools to learn from the data
    <div id="title"></div> -->


  </body>

  <script>
    function parseColls() {
      var colls = {{collections|tojson}};
      console.log(colls);

      for(i in colls) {
        //href = "/results/" + '{{hashtag}}' + "/" + key + "/tweets/";
        //document.getElementById("output").innerHTML += ("<br>" + "<a href=\"" + href + "\">" + key + "</a>   " + dict[key]);
        console.log(colls[i]);
        var name = colls[i].substring(8);
        document.getElementById("dashboard").innerHTML += (
          "<tr><td><input type='checkbox' name='hashtags' value='"
          + name + "'> -- <a style='color: white;' href=/results/"
          + name + ">" + name + "</a></td></tr>"
        );
      }
    }
  </script>
</html>
