<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <head>
  </head>
  <title>KeyPop</title>
  <body bgcolor="#2E94D9" onload="printTweets()">
    <div id = "whiteScreen">
      <div id="outputTitle"></div>
      <div id="output"></div>
      <br><br><br><b id = "bold" >NOTE: Tweets are not guaranteed to be organized chronologically.</b>

      <br><br>

      <!-- simple footer text -->
      <p id = "footer">Built by Liam Dillingham, Garrett Graham</p>
    </div>
  </body>

  <script>
    function printTweets() {
      var dict = {{tweets|tojson}};

      // console.log(tweets);
      // //var dict = JSON.parse(tweets);
      // var parser = new DOMParser;
      // var dom = parser.parseFromString(
      //  '<!doctype html><body>' + tweets,
      //  'text/html');
      // var dict = dom.body.textContent;
      //var dict = JSON.parse(sanitized.replace(/("([^"]|"")*")/g, "\""))

      //console.log(sanitized);
      //var sanitized = tweets.replace(/&#34;/g, "\"").replace(/&#39;/g, "'");
      console.log(dict);
      //var dict = JSON.parse(sanitized);
      //var dict = JSON.parse(sanitized.replace(/\r?\n|\r/g, ''));;
      document.getElementById("outputTitle").innerHTML = ("Tweets published by: <b>" + '{{publisher}}' + "</b> under hashtag: <b>#" + '{{hashtag}}' + "</b>");

      var count = 1;
      for(key in dict) {
        //href = "/results/" + '{{hashtag}}' + "/" + key + "/tweets/";
        //document.getElementById("output").innerHTML += ("<br>" + "<a href=\"" + href + "\">" + key + "</a>   " + dict[key]);
        console.log(dict[key]);
        document.getElementById("output").innerHTML += ("<br><br><b>Tweet #" + count + ":</b>  " + dict[key].text);
        ++count;
      }
    }
  </script>
</html>
