<html>
  <head>
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='styles/tweets.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <title>Tweet Finder</title>
  <body bgcolor="#2E94D9" onload="printTweets()">
    <div id = "whiteScreen">
      <div id="outputTitle"></div>
      <div id="output"></div>
      <br><br><br><b id = "bold" >NOTE: Tweets are not guaranteed to be organized chronologically.</b>
      <!-- simple footer text -->
      <p id = "footer">Built by Liam Dillingham, Garrett Graham</p>
    </div>
  </body>

  <script>
    function printTweets() {
      var tweets = '{{tweets}}';
      var sanitized = tweets.replace(/&#39;/g, "\"");
      var dict = JSON.parse(sanitized.replace(/\r?\n|\r/g, ''));;
      document.getElementById("outputTitle").innerHTML = ("Tweets published by: <b>" + '{{publisher}}' + "</b> under hashtag: <b>#" + '{{hashtag}}' + "</b>");
      console.log(dict);

      var count = 1;
      for(key in dict) {
        //href = "/results/" + '{{hashtag}}' + "/" + key + "/tweets/";
        //document.getElementById("output").innerHTML += ("<br>" + "<a href=\"" + href + "\">" + key + "</a>   " + dict[key]);
        console.log(dict[key]);
        document.getElementById("output").innerHTML += ("<br><br><b>Tweet #" + count + ":</b>  " + dict[key].text);
        ++count;
      }
    }
  </script>
</html>
