body{
  /*background-image: url("bulb.jpg");*/
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size: 100% 100%;
}
#whiteScreen{
  background: rgb(255, 255, 255); /* fallback color */
  background: rgba(255, 255, 255, 0.7);
}

/*hr {
width: 100%;
height: 4px;
background-color:#6496c8;
color:#6496c8;
border: 0 none;
margin: 30px auto;
}

hr.leftHR {
  width: 25%;
  left: 0px;
  height: 4px;
  background-color:#6496c8;
  color:#6496c8;
  border: 0 none;
  margin: 0px;
}

hr.rightHR {
  width: 120%;
  left: 0px;
  height: 4px;
  background-color:#6496c8;
  color:#6496c8;
  border: 0 none;
  margin: 0px;
}*/

/*img {

  border-radius: 25px;
  width: 450px;
  height: 300px;
  position: absolute;
  top: 150px;
  left: 900px;
}

a {
  color: #6496c8;
}*/

/*#title{
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 40px;
	line-height: 65px;
  padding: 0px;
}*/

/*h4 {
  font-family: 'Ubuntu', Georgia, Times, serif;
	font-size: 25;
	line-height: 25px;
  padding: 10px;
  text-align: left;
}*/

#howTitle{
  font-family: 'Ubuntu', Georgia, Times, serif;
	font-size: 25px;
	line-height: 25px;
  padding: 0px;
  text-align: left;
}

#howText{
  font-family: 'Raleway', sans-serif;
	font-size: 50;
	line-height: 25px;
  padding: 0px;
  text-align: left;
  padding-bottom: 150px;
}

/*span.bold{
  font-weight: 900;
}

span.heading{
  font-family: 'Ubuntu', Georgia, Times, serif;
  font-size: 20px;
  line-height: 20px;
  color: #6496c8;
}

span.randomHeading {
  font-family: 'Ubuntu', Georgia, Times, serif;
	font-size: 25px;
	line-height: 25px;
  padding: 0px;
  text-align: left;
}

span.alignleft{
}

span.alignright{
  position: absolute;
  top: 127px;
  left: 800px;
  float: right;
}

span.courseAlignRight{
  position: absolute;
  top: 175px;
  left: 800px;
  float: right;
}*/

#footer{
  font-family: 'Raleway', sans-serif;
	font-size: 16;
	line-height: 25px;
  padding: 0px;
  text-align: left;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 15px 45px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  position: absolute;
  top: 40%;
}

button:focus {
  outline: none
}

section.border {
  text-align: center;
}
section.border button {
  color: #6496c8;
  background: rgba(0,0,0,0);
  border: solid 5px #6496c8;
}

section.border button:focus,
section.border button.focus {
  border-color: #27496d;
  color: #27496d;
}
section.border button:hover,
section.border button.hover {
  border-color: #346392;
  color: #346392;
}
section.border button:active,
section.border button.active {
  border-color: #27496d;
  color: #27496d;
}

/*a{
  color: royalblue;
}*/
