body{
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size: 100% 100%;
}
#whiteScreen{
  background: rgb(255, 255, 255); /* fallback color */
  background: rgba(255, 255, 255, 0.7);
}

#outputTitle{
  font-family: 'Ubuntu', Georgia, Times, serif;
	font-size: 25px;
	line-height: 25px;
  padding: 0px;
  text-align: left;
}

#output{
  font-family: 'Raleway', sans-serif;
	font-size: 16;
	line-height: 25px;
  padding: 0px;
  text-align: left;
  padding-bottom: 50px;
}

#bold{
  font-family: 'Raleway', sans-serif;
	font-size: 16;
	line-height: 25px;
  padding: 0px;
  text-align: left;
  padding-bottom: 150px;
}

#footer{
  font-family: 'Raleway', sans-serif;
	font-size: 16;
	line-height: 25px;
  padding: 0px;
  text-align: left;
}
